<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template1">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="pageContent">
		<div class="container mt-5 mb-10">
			<div>
				<div class="card">
					<div class="card-header">Enregistrement effectué</div>
					<div class="card-body">
						<div class="form-group">
							<label>ID: </label>
							<strong><label class="text-bold" th:text="${group.id}"></label></strong>
						</div>
						<div class="form-group">
							<label>Nom: </label>
							<strong><label th:text="${group.nom}"></label></strong>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>